<div class="activity_feed">
	<h1>Activity Feed</h1>
<% @items.each do |item| %>
<%= item.writer_name %> wrote a <%= item.medium %> called &quot;<%= item.creation_title %>&quot; on <%= item.created_at %>.
<br>
<br>
<% end %>
</div>

