<div class="photography container-fluid text-center">
	<div class="row-fluid">
		<h2>Photography Prompt</h2>
		<div class="col-lg-12">
			<br>
			<img src="<%= FlickRaw.url_m(@photo_info) %>">
		   	<br>
		   	<%= link_to "New Photo", new_user_photo_inspired_path(@user_id), :class => "new-photo" %>
		   	<br>
		   	<br>
			<form class="photography-prompt" action="/users/<%= @user_id %>/photo_inspireds" method="post"> 
				<input type="text" name="photo_inspired[creation_title]" placeholder="Title" autofocus>
				<br>
				<input type="text" name="photo_inspired[writer_name]" placeholder="Your Name">
				<br>
				<input type="text" name="photo_inspired[medium]" placeholder="Medium">
				<br>
				<input type="text" name="photo_inspired[img_desc]" placeholder="Image Description">
				<br>
				<br>
				<textarea rows="9" cols="40" name="photo_inspired[writing]" placeholder="Start writing!">
				</textarea>
				<br>
				<br>
				<input type="submit" class="btn btn-primary" value="Finished!"/>	
			</form>
			<br>
		</div>
	</div>
	<%= link_to "Cancel", dashboard_path %>
</div>
 