<div class="select_muse container-fluid text-center">
	<h2>Select a Muse</h2>
	<div class="row-fluid muse">
		<div class="muse_images">
			<%= link_to (image_tag "cumbrianresized.jpg"), new_user_photo_inspired_path(current_user.id), class: "muse_photo" %>
			<%= link_to (image_tag "yamaharesized.jpg"), new_user_music_inspired_path(current_user.id), class: "muse_music" %>
		</div>
	</div>
</div>