<div class="select_muse">
<%= link_to "Be Inspired: Photography", new_user_photo_inspired_path(current_user.id) %><br>

<%= link_to "Be Inspired: Music", new_user_music_inspired_path(current_user.id) %>
</div>