<div class="container">

      <div class="starter-template">
        <h1>We Inspire. You Create.</h1>
        <p class="lead">We provide artistic prompts in the forms of photography and classical music to help you start writing masterpieces.</p>
      </div>