<div class="container">

      <div class="marketing">
        <h1 class="text-center">We Inspire. You Create.</h1>
        <p class="lead">We provide artistic prompts in the forms of photography and classical music to help you start writing masterpieces.</p>
      </div>

</div>