<div class="soundcloud">
	<%= raw(@embed_info['html']) %>
	<br>
	<%= link_to "New Song", new_user_music_inspired_path(@user_id) %>
</div>
<div class="classical-music container-fluid text-center">
	<h2>Classical Music Prompt</h2>
	<div class="row-fluid">
		<div class="col-lg-12">
			<br>
			<form class="classical-music-prompt" action="/users/<%= @user_id %>/music_inspireds" method="post">

				<input type="text" name="music_inspired[creation_title]" placeholder="Title" autofocus>
				<br>
				<input type="text" name="music_inspired[writer_name]" placeholder="Your Name">
			 	<br>
				<input type="text" name="music_inspired[medium]" placeholder="Medium">
			  	<br>
				<input type="text" name="music_inspired[song_title]" placeholder="Song Title">
			 	<br>
				<input type="text" name="music_inspired[artist_name]" placeholder="Artist's Name">
				<br>
				<br>
			  	<textarea rows="9" cols="40" name="music_inspired[writing]" placeholder="Start writing!">
				</textarea>
				<br>
				<br>
				<input type="submit" class="btn btn-primary" value="Finished!"/>
			</form>
			<br>
		</div>
	</div>
	<%= link_to "Cancel", dashboard_path%>
</div>




